.md-sidebar--secondary {
	display: none !important;
}
/* docs/extra.css */
.card-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 20px;
}

.card {
	background: white;
	border: 1px solid #e1e4e8;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(27, 31, 35, 0.12),
		0 8px 24px rgba(27, 31, 35, 0.12);
	width: 45%;
	margin: 15px;
	padding: 20px;
}

.card img {
	height: auto;
	display: block;
	margin: 20px 0;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 15px;
	object-fit: cover;
}

.card-title {
	font-size: 1.2em;
	margin-bottom: 10px;
	color: #333;
}

.card-description {
	font-size: 0.9em;
	color: #666;
	margin-bottom: 20px;
}

.card-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: skyblue;
	color: white;
	border-radius: 4px;
	text-decoration: none;
	transition: background-color 0.3s ease;
}
.tags {
	margin-inline-end: 40px;
	width: 100%;
	display: flex;
	align-items: center;
}
.tag_i_con {
	margin-bottom: 10px;
	font-size: 20px;
	padding-right: 10px;
	margin-inline: 0px;
}

/* Responsive styles */
@media (max-width: 768px) {
	.card {
		width: 100%;
		margin: 10px 0;
	}

	.card img {
		width: 80px;
		height: 80px;
	}

	.card-title {
		font-size: 1.1em;
	}

	.card-description {
		font-size: 0.85em;
	}

	.card-button {
		padding: 8px 16px;
	}
}

@media (max-width: 480px) {
	.card {
		padding: 15px;
	}

	.card-title {
		font-size: 1em;
	}

	.card-description {
		font-size: 0.8em;
	}

	.card-button {
		padding: 6px 12px;
	}
}
